<tr>
<td>
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
</td>
<td>
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p></td>
<td>
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
   
</p>
</td></tr>
